Binaries/
Build/

Intermediate/

Saved/

*.tmp
*.log
*.obj
*.pch
*.pdb
*.exe
*.dll
*.suo
*.user
*.userosscache
*.userprefs
*.ipch
*.aps
*.ncb
*.opendb
*.VC.db
*.VS.db


.DS_Store

.vscode/
.vs/

xcuserdata/
*.xcworkspace
